/* Classnames? Semantischer. buttons en inputs */
* {
	font-family: "IBM Plex Mono", monospace;
	box-sizing: border-box;
}

:root {
	--darkgrey: #4d5656;
	--turqouise: #a3e4d7;
	--off-white: #fbfcfc;
	--purple: #ebdef0;
	--pink: #ffcdd2;
}

body {
	background-color: var(--purple);
}

.wrapper {
	text-align: center;
	margin: 100px auto 0 auto;
	width: 800px;

	padding: auto;
}

.game-panel {
	background-color: var(--off-white);
	border: 5px solid var(--turqouise);
}

#answer-field input[type="text"] {
	height: 30px;
	border: none;
	background-color: var(--pink);
	color: var(--off-white);
	font-size: 18px;
	text-align: center;
	margin: 20px auto;
	display: block;
}

#submit-answer {
	margin: 10px;
}

#emoji-field {
	margin: 20px;
	font-size: 50px;
}

#score-panel {
	margin: 20px;
}

#rating-field {
	color: black;
}
