@import 'styles/mixins.scss';

.navbar {
  margin-left: calc(100vw - 100%);

  &__inner {
    margin: auto;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include break-lg {
      width: 70vw;
      height: 100px;
      flex-direction: row;
    }
  }

  &__title {
    font-size: 24px;
    margin: 0;

    @include break-lg {
      font-size: 40px;
    }

    a {
      text-decoration: none;
    }
  }

  &__menu {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    @include break-lg {
      margin: 0;
      width: fit-content;
    }

    &__item {
      margin: 0 16px;
      letter-spacing: 1px;
      border-bottom: 2px solid $pastel-purple;
      text-decoration: none;

      @media (prefers-color-scheme: dark) {
        border-color: $pastel-dark-purple;
      }

      &:hover {
        color: $pastel-purple;

        @media (prefers-color-scheme: dark) {
          color: $pastel-dark-purple;
        }
      }

      &--current {
        font-weight: bold;
      }
    }
  }
}
