@import './mixins.scss';

.about {
  display: flex;
  flex-direction: column;

  @include break-sm {
    display: block;
  }

  &__avatar {
    order: 2;
    align-self: center;

    @include break-sm {
      margin: 0;
      float: left;
      margin-left: -24px;
      margin-right: 24px;
      margin-top: -24px;
    }

    img {
      width: 70vw;

      @include break-sm {
        width: 320px;
      }
    }

    figcaption {
      font-size: 14px;
      color: $pastel-dark-pink;
      text-align: center;

      @include break-sm {
        margin-left: 24px;
        margin-top: -24px;
      }
    }
  }

  h3 {
    margin-bottom: 0;

    @include break-sm {
      margin-top: 48px;
    }
  }
}
