@import './mixins.scss';

* {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
}

body {
  background-color: white;
}

a {
  color: black;
}

.container {
  width: 100%;

  @include break-md {
    width: 40vw;
    margin: auto;
  }
}
