$pastel-pink: #FFd2E1;
$pastel-green: #DAFBF8;
$pastel-purple: #daddfb;
$pastel-yellow: #FFFCDD;
$pastel-blue: #DAEDFB;

$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

@mixin break-sm {
  @media (min-width: #{$sm-screen}) {
    @content;
  }
}

@mixin break-md {
  @media (min-width: #{$md-screen}) {
    @content;
  }
}

@mixin break-lg {
  @media (min-width: #{$lg-screen}) {
    @content;
  }
}

@mixin break-xl {
  @media (min-width: #{$xl-screen}) {
    @content;
  }
}
