@import './mixins.scss';

.post {
  &__header {
    &__image {
      background-size: cover;
      background-position: center;
      display: flex;
      padding: 24px;

      @include break-sm {
        min-height: 250px;
      }
    }

    &__title {
      box-shadow: 5px 5px 0 0 black;
      background-color: white;
      padding: 16px;
      border: 2px solid black;

      h1 {
        margin-top: 0;
      }
    }
  }
  &__date-label {
    text-align: right;
  }

  &__intro {
    font-size: 20px;
    margin: 32px 0;
    font-weight: bold;
  }

  table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin-left: 0%;
    overflow-x: auto;
    font-size: 14px;

    @include break-sm {
      font-size: 16px;
    }
  }

  thead {
    background-color: $pastel-blue;
  }

  table,
  tr,
  td + td {
    border: 1px solid $pastel-blue;
  }
  td {
    padding: 8px;

    @include break-sm {
      padding: 4px;
    }
  }
  img {
    width: 90vw;

    @include break-md {
      min-width: 30vw;
      max-width: 800px;
    }
  }
}
