@import './mixins.scss';

.post {
  &__header {
    &__image {
      background-size: cover;
      background-position: center;
      display: flex;
      padding: 24px;

      @include break-sm {
        min-height: 250px;
      }
    }

    &__title {
      box-shadow: 5px 5px 0 0 black;
      background-color: white;
      padding: 16px;
      border: 2px solid black;

      h1 {
        margin-top: 0;
      }
    }
  }
  &__date-label {
    text-align: right;
  }

  &__intro {
    font-size: 20px;
    margin: 32px 0;
    font-weight: bold;
  }
}
