/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Sanchez', serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

p {
}

a {
  text-decoration: none;
}

footer {
  height: 100px;
  background: linear-gradient(
    rgba(225, 225, 225, 0.6),
    rgba(242, 242, 242, 0.9)
  ),
  url(backdrop2.svg);
  background-size: cover;
  background-position: bottom;
  border-top: 3px solid #f5f5f5;
}

/* Main Styles --------------------- */

.main-header {
  height: 500px;
  margin: auto;
  padding-top: 170px; /* Why do I need padding in order to get rid of the space on top of the page? */
  background: linear-gradient(
    rgba(225, 225, 225, 0.6),
    rgba(242, 242, 242, 0.9)
  ),
  url(backdrop2.svg);
  background-size: cover;
  text-align: center;
  border-bottom: 3px solid #f5f5f5;
}

.work-button {
  background-color: rgb(247, 207, 135);
  background: linear-gradient(rgba(247, 207, 135, 0.6), rgba(249, 185, 76, 0.8)), url(work.jpg);
  background-size: cover;
}

.about-button {
  background-color: rgb(143, 202, 198);
  background: linear-gradient(rgba(143, 202, 198, 0.6), rgba(127, 249, 241, 0.8)), url(about.jpg);
  background-size: cover;
}

.helped-button {
  background-color: rgb(235, 189, 200);
  background: linear-gradient(rgba(235, 189, 200, 0.6), rgba(244, 136, 162, 0.8)), url(helped.jpg);
  background-size: cover;
}

/* Subject Styles ------------------ */

#work,
#helped,
#about {
  height: 400px;
  padding: 5px;
  text-align: center;
}

#work,
#about {
  background-color: #fff;
}

#helped {
  background-color: #f5f5f5;
}

/* Column Styles --------------------- */

.column30 {
  vertical-align: top;
  float: left;
  height: 500px;
  min-width: 33.333%;
  padding-top: 200px;
}

.clear {
  clear: left;
}

/* Special elements ---------------- */

.arrow {
  display: block;
  margin-top: 0px;
  font-size: 4rem;
  line-height: 0.5rem;
  text-decoration: none;
  color: #000;
}

.arrow:hover {
  margin-top: 30px;
  -webkit-transition: margin-top 0.2s ease-out;
  -moz-transition: margin-top 0.2s ease-out;
  transition: margin-top 0.2s ease-out;
}

.text-shadow {
  text-shadow: 5px 5px #fff;
}

.image-box h1,
.image-box p {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Media Queries */


@media (min-width: 320px) and (max-width: 800px){
  .main-header {
    height: 900px;
  }
  .column30 {
    float: none;
    min-width: 100%;
  }
}
