@import 'styles/mixins.scss';

$lg-padding: 24px;

.post_item {
  background-color: $pastel-pink;
  padding: 16px;
  margin-bottom: 54px;
  list-style-type: none;
  position: relative;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-grey;
  }

  @include break-sm {
    padding: $lg-padding;
    height: fit-content;
  }

  &:hover,
  &:focus-within {
    box-shadow: 5px 5px 0 0 black;
    transition: box-shadow 0.2s;

    a:focus {
      text-decoration: none;
    }
  }

  &__label {
    left: 24px;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    position: relative;
    z-index: 1;
    background-color: $pastel-purple;
    box-shadow: 5px 5px 0 0 black;
    flex-shrink: 0;
    margin-bottom: 16px;

    @media (prefers-color-scheme: dark) {
      background-color: $pastel-dark-purple;
    }

    @include break-sm {
      left: -56px;
      margin-bottom: 0;
    }
  }

  &__title {
    margin: 0;

    &__link {
      color: black;
      text-decoration: none;

      @media (prefers-color-scheme: dark) {
        color: white;
      }

      &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  &__content {
    padding: 0;
    margin-bottom: 16px;

    p {
      margin: 0;
    }

    strong {
      margin: 0;
      font-weight: normal;
    }

    @include break-sm {
      margin-bottom: 0;
    }
  }

  &__label_wrapper {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;

    @include break-sm {
      flex-direction: row;
      align-items: center;
      margin-bottom: 16px;
    }
  }
}
