---
layout: default
---
<div class="main-header">
  <h1 class="text-shadow">Hello World!</h1>
  <p>Welcome to my portfolio</p>
  <a class="arrow text-shadow" href="#main-content">&dtrif;</a>
</div>
<section id="main-content">
      <div class="column30 work-button image-box">
        <a href="#work"><p>check out my</p>
        <h1>work</h1></a>
      </div>
      <div class="column30 helped-button image-box">
        <a href="#helped"><p>resources that</p>
        <h1>helped</h1></a>
      </div>
      <div class="column30 about-button image-box">
        <a href="#about"><p>more about</p>
        <h1>me</h1></a>
      </div>
      <div class="clear">
      </div>

</section>
<section id="work">
  <div>
    <h2>My work</h2>
  </div>
</section>
<section id="helped">
  <div>
    <h2>My resources</h2>
  </div>
</section>
<section id="about">
  <div>
    <h2>About me</h2>
  </div>
</section>
