.breadcrumbs {
  span + span {
    &:before {
      content: '>';
      font-size: 12px;
      padding: 8px;
    }
  }

  span {
    text-transform: capitalize;
    font-size: 14px;
  }

  margin-bottom: 8px;
}
