$pastel-pink: #ffd2e1;
$pastel-green: #dafbf8;
$pastel-purple: #daddfb;
$pastel-yellow: #fffcdd;
$pastel-blue: #daedfb;

$purple-grey: linear-gradient(
  164deg,
  rgba(122, 65, 255, 1) 24%,
  rgba(4, 0, 255, 1) 100%
);
$dark-grey: #323232;
$pastel-dark-pink: #f86dff;
$pastel-dark-green: #00d27b;
$pastel-dark-purple: #7a41ff;
$pastel-dark-yellow: #fffcdd;
$pastel-dark-blue: #4f76ff;

$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

@mixin break-sm {
  @media (min-width: #{$sm-screen}) {
    @content;
  }
}

@mixin break-md {
  @media (min-width: #{$md-screen}) {
    @content;
  }
}

@mixin break-lg {
  @media (min-width: #{$lg-screen}) {
    @content;
  }
}

@mixin break-xl {
  @media (min-width: #{$xl-screen}) {
    @content;
  }
}
