@import './mixins.scss';

.work {
  &__card {
    box-shadow: 5px 5px 0 0 black;
    background-color: white;
    width: 100%;
    border: 2px solid black;
    display: flex;
    margin-top: 32px;
    flex-direction: column;

    @include break-md {
      flex-direction: row;
    }

    &__image {
      height: 200px;
      width: 100%;
      object-fit: cover;
      filter: brightness(0.5);

      @include break-md {
        width: 50%;
        height: 100%;
      }
    }

    &__body {
      padding: 16px;
    }

    &__link {
      display: flex;
      justify-content: flex-end;

      a {
        padding: 8px;
        z-index: 1;
        background-color: #daddfb;
        width: fit-content;
        text-align: center;
        position: relative;

        &:hover,
        &:focus-within {
          box-shadow: 5px 5px 0 0 black;
          transition: box-shadow 0.1s;

          a:focus {
            text-decoration: none;
          }
        }
      }
    }

    &__grid {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
